{% extends "layout.html" %}

{% block content %}

<div class="">
    <form action="" method="POST">
        <fieldset class="">
            <legend class="">edit profile</legend>

            <img src="#" alt="user profile picture">
            <h1>{{ current_user.fullname }}</h1>

            <div class="">
                {{ form.username.label() }}
                {{ form.username(class="") }}
            </div>

            <div class="">
                {{ form.email.label() }}
                {{ form.email(class="") }}
            </div>
            
            <div class="">
                <p>password: {{ current_user.password }}</p>
                <small>
                    <a href="{{ url_for('resetPassword') }}">reset password?</a>
                </small>
            </div>

        </fieldset>

        <div class="">
            {{ form.submit(class="") }}
        </div>
    </form>
</div>

{% endblock content %}