<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styling/IndexStyle.css">
</head>
<body>
    <div id="Page-Left">

        <div id="Nama-App">
            <h1 id="AMBATUGRAM">AMBATUGRAM</h1>
        </div>

        <div id="Tempat-Fitur">
            <h2 class="Fitur">🏠 Home</h2>

            <h2 class="Fitur">🗨️ Messages</h2>

            <h2 class="Fitur">🔔 Notification</h2>

            <h2 class="Fitur">➕ Create</h2>
        </div>

        <div id="Profile">
            <img src="images/default profile picture.png" alt="default pp" id="Profile-Picture">

            <h2 id="Profile-Profile">Profile</h2>
        </div>

    </div>
<!-- ######################################################################### -->
    <div id="Page-Right">

        <div id="Account-Post">
            <img src="images/default profile picture.png" alt="default pp" id="Account-Profile">

            <h3>ronnie-coleman</h3>

            <div id="Very-Small-Dots"></div>

            <h3 id="Post-Time">Post-Time</h3>

            <div id="Edit-Post">
                <div class="Triple-Dots"></div>
                <div class="Triple-Dots"></div>
                <div class="Triple-Dots"></div>
            </div>
        </div>

        <div id="Post">
            <img src="images/ronnie.jpg" alt="ronnie-coleman" id="Posted-Picture">
        </div>

        <div id="Widget">
            <div id="Widget-Left-Side">
                <h4 class="Widget-Left">💘</h4>
                <h4 class="Widget-Left">💬</h4>
                <h4 class="Widget-Left">✈️</h4>
            </div>

            <div id="Widget-Right-Side">
                <h4 class="Widget-Right">📂</h4>
            </div>
        </div>

        <h3 id="Caption">#gym #motivation # ronniecoleman</h3>

    </div>

</body>
</html>