{% extends "layout.html" %}

{% block content %}

<div class="">
    <form action="" method="post">
        <fieldset class="">
            <legend class="">reset password</legend>

            <div>
                <p>old password: {{ current_user.password }}</p>

                {{ form.new_password.label(class="") }}:
                {{ form.new_password(class="")}}
                <br>
                {{ form.confirm_new_password.label(class="") }}:
                {{ form.confirm_new_password(class="") }}
            </div>

            <div>
                {{ form.submit(class="") }}
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}